<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 160px;">
    <div class="form-container">
        <h2>Kullanıcı Güncelleme Formu</h2>
        <form id="updateForm">
            <label for="nameSurname">Ad ve Soyad:</label>
            <input type="text" id="nameSurname" name="nameSurname" required><br>

            <label for="userName">Kullanıcı Adı:</label>
            <input type="text" id="userName" name="userName" required><br>

            <label for="email">E-Posta:</label>
            <input type="email" id="email" name="email" required><br>
            
            <label for="passwordHash">Şifre:</label>
            <input type="password" id="passwordHash" name="passwordHash" required><br>

            <button class="btn btn-dark"  type="submit" > Güncelle </button>

        </form>
    </div>
</div> </div> </div>
    <script>
      
        fetch('/getuserdetail')
            .then(response => response.json())
            .then(data => {
                document.getElementById('nameSurname').value = data.NameSurname;
                document.getElementById('userName').value = data.UserName;
                document.getElementById('email').value = data.Email;
                document.getElementById('passwordHash').value = "";
            })
            .catch(error => console.error('Hata:', error));

            document.getElementById('updateForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const formData = new FormData(this);
            fetch('/userupdate', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                alert('Başarılı: Kullanıcı bilgileri güncellendi');
                window.location.href = '/plan';
            })
            .catch(error => console.error('Hata:', error));
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
